<!-- <div class="container-fluid main">
  <h1>NOTIFIER</h1>
  <p>BLAAA</p>
</div> -->
<div class="container-fluid head">
  <h1>NOTIFIER</h1>
</div>
<div class="container-fluid main">
  {{company-tile companies=model saveCompany="saveCompany" saveSubscriber="saveSubscriber"}}
</div>
