<div class="container-fluid subscriberPortal">
  <h1>Welcome to the subscriber portal. You are currently signed in as ('NAME')</h1>
</div>
<div class="subscriberDetails">
  <h2>Your Details</h2>
  <div class="row">
    <div class="col-md-6 subscriberCompanies">
      <h2>Subscribed companies.</h2>
      <ul>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
        <li>jasdnjsnadknaskjnasknsnjkasdnsdk</li>
      </ul>
    </div>
    <div class="col-md-6 subscriberNews">
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <p>Total number of received notifications</p>
      <h1>26</h1>
    </div>
  </div>
</div>
<div class="moreSubscriptions">
  <h3>In case you are interested in more subscriptions, you can add them here!</h3>
  {{#link-to 'index'}}<button class="moreSubscriberBtn">I want More subscriptions</button>{{/link-to}}
  <h3>&copy; Notifier 2017</h3>
</div>
